/** regole */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.justyfy-center{
    justify-content: center;
}

/* body */
body {

    background-color: white;
    text-align: center;
    margin: 0 auto;
}

/**  header */
header {
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;   
    top: 0;
    left: 0;
    z-index: 1;
}

.container-header {
    width: 75%;
    margin: 0 auto;
}

.row-header {
    width: 100%;
    display: flex;
}

.column-header {
    width: calc(100% / 3);
}

.content-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-header ul {
    list-style-type: none;
    width: 100%;
    font-size: 140%;
    display: inline-block;
    
}

.content-header ul li {
    display: inline-block;
}

.content-header img {
    width: 200px;
}

/** main */
main {
    margin: 130px 0px;
}

#container {
    margin: 0 auto;
    position: relative;
}

.row {
    padding-top: 50px;
    position: relative;
}

.row .object {
    width: 300px;
    position: relative;
    display: inline-block;
}

.object>.sconto {
    /*  font-family: 'Brush Script MT' ; */
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border-radius: 5px;
}

.heart {
    width: 13%;
    height: 38px;
    position: absolute;
    bottom: 431px;
    left: 255px;
    font-size: 35px;
    color: red;
    background-color: white;
}

.object:hover .heart {
    display: block;
    color: black;
}

.sconto.red {/*! da inserire nelle regole  */
    background-color: red;
    border-style: solid;
    border-color: lime;
}



.sconto.green {/*! da inserire nelle regole e cambiare nome classe */
    background-color: lime;
    border-style: solid;
    border-color: aliceblue;
}

.object .img {
    width: 95%;
    position: relative;
    bottom: 10px;
}

.img-3-top{ /*! da inserire nelle regole  */
    top: -13px;

}


.brand {
    font-style: oblique;
    position: relative;
}

.tipo,
.prezzo,
.red-color {
    font-weight: bold;
}

.tipo {
    font-size: 18px;
}

.red-color {
    color: red;
}