/** regole */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.justyfy-center {
    justify-content: center;
}

/* body */
body {

    background-color: white;
    text-align: center;
    margin: 0 auto;
}

/**  header */
header {
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.container-header {
    width: 85%;
    margin: 0 auto;
}

.row-header {
    width: 100%;
    display: flex;
}

.column-header {
    width: calc(100% / 3);
}

.content-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-header ul {
    list-style-type: none;
    width: 100%;
    font-size: 100%;
    display: inline-block;

}

.content-header ul li {
    display: inline-block;
}

.content-header img {
    width: 200px;
}

/** main */
main {
    margin: 90px 0px;
}

#container {
    margin: 0 auto;
    position: relative;
}

.row {
    padding-top: 50px;
    position: relative;
}

.row .object {
    width: 300px;
    position: relative;
    display: inline-block;
}

.object>.sconto {
    /*  font-family: 'Brush Script MT' ; */
    font-size: 15px;
    width: 40px;
    height: 23px;
    line-height: 23px;
    position: absolute;
    bottom: 20%;
    left: 0;
    text-align: center;
}

.heart {
    width: 13%;
    height: 38px;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    color: black;
    background-color: white;
}

.object:hover .heart {
    display: block;
    color: red;
}

.sconto.red {
    /*! da inserire nelle regole  */
    background-color: red;
    color: white;
    font-weight: bold;
}

.badge {
    font-size: 16px;
    width: 87px;
    height: 23px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: 14%;
    bottom: 20%;
}

.badge,
.green {
    /*! da inserire nelle regole */
    background-color: green;
    color: white;
    font-weight: bold;
}

.green-position {
    position: absolute;
    left: 0px;
}

/** card */
.object {
    cursor: pointer;
}

.object .img,
.secondary-img {
    width: 95%;
    position: relative;
}

.img {
    display: block;
}

.secondary-img {
    display: none;
}

.object:hover .img {
    display: none;
}

.object:hover .secondary-img {
    display: block;
}

/* .img-3-top{
    top: 0px;
}
 */
.tipo,
.brand,
.prezzo {
    font-weight: bold;
    text-align: left;
}

.brand {
    font-style: oblique;
    position: relative;
}


.tipo {
    font-size: 18px;
}

.red-color {
    color: red;
    font-weight: bold;
}