/** regole */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    /* background-color: rgba(0,0,0,0.7); */

}

body {

    background-color: white;
    text-align: center;
    margin: 0 auto;


}


#container {
    margin: 0 auto;
    
    border-radius: 5px;
    position: relative;

}

.row {
    margin-top: 80px;
    position: relative;
    bottom: 30px;
}

#titolo {
    color: lime;
    margin-left: 200px;
    margin-right: 200px;
    padding: 2px;
    border-style: solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 10px;
}

.row .object {
    width: 300px;
    position: relative;
    display: inline-block;

}

.object>.sconto {
    font-family: 'Brush Script MT' ;
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    border-radius: 5px;

}

.heart {
    width: 100%;
    position: absolute;
    bottom: 13px;
    font-size: 40px;
    color: red;
    display: none;
}

.object:hover .heart {
    display: block;
}

.sconto.red {
    background-color: red;
    border-style: solid;
    border-color: lime;

}



.sconto.green {
    background-color: lime;
    border-style: solid;
    border-color: aliceblue;

}

.object .img{
    width: 95%;
    position: relative;
    bottom: 10px;
    border-style: solid;
    border-color: lime;
}


.brand{
font-style: oblique;
}

.tipo{
    font-weight: bold;
}

.prezzo{

}

.red-color{
    color: red;
    font-weight: bold;
}